<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
        <!-- Card stats -->
    </div>
  </div>
</div>
<h3> Detalhes do Mutuario</h3>
<div>
    <div>
        <label> <b> Nome: </b></label> {{mutuario.nome}}
    </div>
    <div>
        <label> <b> Nascimento: </b></label> {{mutuario.nascimento}}
    </div>
    <div>
      <label> <b> Nuit: </b></label> {{mutuario.nuit}}
  </div>
    <div>
        <label> <b> Bilhete de Identidade: </b></label> {{mutuario.bilheteIdentidade}}
    </div>
    <div>
        <label> <b> Morada: </b></label> {{mutuario.morada}}
    </div>
</div>


