<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Mutuários</h5>
                  <span class="h2 font-weight-bold mb-0">4</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pendentes</h5>
                  <span class="h2 font-weight-bold mb-0">2</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3> Detalhes do Mutuario</h3>
<div>
    <div>
        <label> <b> Nome: </b></label> {{mutuario.nome}}
    </div>
    <div>
        <label> <b> Nuit: </b></label> {{mutuario.nuit}}
    </div>
    <div>
        <label> <b> Bilhete de Identidade: </b></label> {{mutuario.bilheteIdentidade}}
    </div>
    <div>
        <label> <b> Morada: </b></label> {{mutuario.morada}}
    </div>
</div>


