<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
        <!-- Card stats -->
    </div>
  </div>
</div>
   <!-- Tabela de Utilizadores  -->
   <div class="container-fluid mt--7">
    <!-- Table  -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Lista de Mutuarios</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <!--th scope="col"> Ordem</th -->
                  <th scope="col"> Nome Completo</th>
                  <th scope="col"> Genero</th>
                  <th scope="col"> Nascimento</th>
                  <!-- <th scope="col"> Nuit</th> -->
                  <th scope="col"> Bilhete de Identidade</th>
                  <th scope="col"> Morada</th>
                  <th scope="col"> Ação</th>
                  <th>
                    <a routerLinkActive= "active" [routerLink]="['/create-mutuario']">
                      <button type="button" classe="text-center btn bnt-sucess mt-5" style="bottom: 2rem !important; border-radius: 2rem !important;">
                        +Add
                      </button>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let mutuario of mutuarios" >
                    <td> {{ mutuario.nome}}</td>
                    <td> {{ mutuario.genero}}</td>
                    <td> {{ mutuario.nascimento}}</td>
                    <!-- <td> {{ mutuario.nuit}}</td> -->
                    <td> {{ mutuario.bilheteIdentidade}}</td>
                    <td> {{ mutuario.morada}}</td>
                    <td>
                        <a class="btn text-success" (click)="updateMutuario(mutuario.id)"><i class="ni ni-cloud-upload-96"></i></a>
                        <a class="btn text-danger" (click)="deleteMutuario(mutuario.id)"><i class="ni ni-fat-remove"></i></a>
                        <a class="btn text-info" (click)="mutuarioDetails(mutuario.id)"><i class="ni ni-bullet-list-67"></i></a>
                        <!-- <button (click) = "updateMutuario(mutuario.id)" class = "btn btn-info">Editar</button> -->
                        <!-- <button (click) = "deleteMutuario(mutuario.id)" class = "btn btn-danger" style="margin-left: 10px">Apagar</button> -->
                        <!-- <button (click) = "mutuarioDetails(mutuario.id)" class = "btn btn-info" style="margin-left: 10px"> Ver</button> -->
                    </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  