<h3 class="mb-0">Lista de mutuários</h3>
<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nome Completo</th>
            <th scope="col">Nuit</th>
            <th scope="col">Bilhete de identidade</th>
            <th scope="col">Morada</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let mutuario of mutuarios" >
            <td> {{ mutuario.Nome}}</td>
            <td> {{ mutuario.Nuit}}</td>
            <td> {{ mutuario.BilheteIdentidade}}</td>
            <td> {{ mutuario.Morada}}</td>
            </tr>
    </tbody>
</table>