<div class="header bg-gradient-success py-7 py-lg-8">
  <div class="container-fluid">
    <div class="header-body">
        <!-- Card stats -->
    </div>
  </div>
</div>
<div class="container mt--9 pb-0">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-5">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-6 py-lg-3">
                    <div class="text-center text-muted mb-4">
                        <small><h3> Criar Mutuario </h3></small>
                    </div>
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-nome">Nome completo</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="nome" placeholder="Nome completo" [(ngModel)] = "mutuario.nome" name = "nome">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-genero">Genêro</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <select class ="form-control" id = "genero" [(ngModel)] = "mutuario.genero" name = "genero">
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Feminino</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-data">Data de Nascimento</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input type="date" class ="form-control" id = "Nascimento" placeholder="Data de nascimento" [(ngModel)] = "mutuario.nascimento" name = "nascimento">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-binuit">Bilhete de Identidade</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input type="text" class ="form-control" placeholder="Bilhete de Identidade" id ="Bilhete de Identidade" [(ngModel)] = "mutuario.bilheteIdentidade" name = "bilheteIdentidade">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-morada">Morada</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input type="text" class ="form-control" placeholder="Morada" id = "Morada" [(ngModel)] = "mutuario.morada" name = "morada">
                                    </div>
                                </div>
                            </div>
                            <button class = "btn btn-success mt-5" style="bottom: 3rem !important; border-radius: 2rem !important; position: relative;" type ="submit">Criar</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>